.vscode
.fabric
.git
crash-reports
local
logs
moddata
defaultconfigs
schematics
data
saves
usernamecache.json
usercache.json
servers.dat
servers.dat_old
rhino.local.properties
irisUpdateInfo.json
kubejs/probe